.search-icon-style {
    color: #adadad;
    margin: 0 8px 0 0;
}

.search-icon-style:active {
    color: #0d6efd;
}

.search-icon-style:focus {
    color: #0d6efd;
}

.close-icon-style {
    height: 3px !important;
    width: 3px !important;
}

.input-style {
    background-color: transparent !important;
}

.form-style, .input-text-style {
    background-color: transparent !important;
    border-radius: 20px !important;
    color: #adadad !important;
    border: 1px solid #161617 !important;
    transition: none !important;
    padding: 0 !important;
}

.form-style:focus-visible {
    transition: none !important;
    border: 1px solid #161617 !important;
}

.form-style:active {
    transition: none !important;
    border: 1px solid #161617 !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
