.input-text-style {
    background-color: #17181c !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.search-icon-style {
    color: #adadad;
}

.search-icon-style:active {
    color: #0d6efd;
}

.search-icon-style:focus {
    color: #0d6efd;
}

.close-icon-style {
    height: 3px !important;
    width: 3px !important;
}

.input-style {
    background-color: transparent !important;
}


.form-style {
    background-color: #322e39 !important;
    border-color: #322e39 !important;
    color: #f1f1f1 !important;
    padding: 0 !important;
}