.sign-in-background {
    background-image: url("../../dark-background.jpg");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.sign-in-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.sign-in-card {
    width: 50%;
    display: flex;
    align-items: center;
}

.sign-in-card-title-style {
    font-size: x-large !important;
    color: #0d6efd;
}

